<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/Estilo.css">
<link rel="stylesheet" href="/css/styles.css">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div><b><p class="tipografia">Tenemos tus vinos favoritos</p></b></div>
        <div class="seccion">
            <a href="/vino-blanco">
     <article class="almacen">
    <img src="/images/Vino-Blanco.jpg" class="img" alt="Blanco">
    <div class="caja">
        <div class="car">
            <i class="fas fa-wine-bottle"></i>
    </div>
      <p class="precio">$6.770 </p>
        <p class="des">40% OFF</p>
    </div>
        <figcaption class="desc" >Blanco - Marques. Dulce tardio</figcaption>  
     </article>
    </a>
<br>
<a href="/vino-espumoso">
    <article class="almacen">
        <img src="/images/Vino-Espumeante.jpg" class="img" alt="Espumoso">
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
            </div>
        <p class="precio">$230.000</p>
        <p class="des">98% OFF</p>
    </div>
        <figcaption class="desc">
           Espumoso - Deseado. Schroeder</figcaption>
    </article>
</a>
<br>
<a href="/vino-rosado">
    <article class="almacen"> 
        <img src="/images/Vino-Rosado.jpg" class="img" alt="Rosado">
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
            </div>
        <p class="precio">$70.500</p>
        <p class="des">0.3% OFF</p>
    </div>
        <figcaption class="desc">Rosado - Chacabugo</figcaption>
    </article>
</a>
<br>
<a href="/vino-tinto">
    <article class="almacen">
        <img src="/images/Vino-Tinto.jpg" class="img" alt="Tinto">
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
        </div>
        <p class="precio">$6,760</p>
        <p class="des">0.3% OFF</p>
    </div>
        <figcaption class="desc">Tinto - Reservado. Toscanini</figcaption>
    </article>
</a>
</div>
     <br>
     <br>
    <div><b><p class="tipografia">Tenemos los mejores precios</p></b></div>
<div class="seccion">
<a href="/vino-blanco">
     <article class="almacen">
    <img src="/images/Vino-Blanco.jpg" class="img" alt="Blanco">
<div class="caja">
    <div class="car">
        <i class="fas fa-wine-bottle"></i>
    </div>
      <p class="precio" >$6.770 </p>
        <p class="des" >40% OFF</p>
    </div>
        <figcaption class="desc">
            Blanco - Marques. Dulce tardio</figcaption>
     </article>
    </a>
<br>
<a href="/vino-espumoso">
    <article class="almacen">
        <img src="/images/Vino-Espumeante.jpg" class="img" alt="Espumoso">
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
            </div>
        <p class="precio">$230.000</p>
        <p class="des">98% OFF</p>
    </div>
        <figcaption class="desc">
            Espumoso - Deseado. Schroeder</figcaption>

    </article>
</a>
<br>
<a href="/vino-rosado">
<article class="almacen">
<img src="/images/Vino-Rosado.jpg" class="img" alt="Rosado">
       
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
        </div>
        <p class="precio">$70.500</p>
        <p class="des">0.3% OFF</p>
    </div>
        <figcaption class="desc">Rosado - Chacabugo</figcaption>
</article>
</a>
<br>
<a href="/vino-tinto">
    <article class="almacen">
        <img src="/images/Vino-Tinto.jpg" class="img" alt="Tinto">
        <div class="caja">
            <div class="car">
                <i class="fas fa-wine-bottle"></i>
    </div>
        <p class="precio">$6,760</p>
        <p class="des">0.3% OFF</p>
    </div>
        <figcaption class="desc">
            Tinto - Reservado. Toscanini</figcaption>
    
    </article>
</a>
</div>
    </main>
    <br>
    <br>
    <br>
    <%- include('partials/footer.ejs') %>
</body>
</html>