<footer>
    <br>
    <br>
    <br>
    <div class="footsize" >
    <div class="imgfoot"><i class="fab fa-bitcoin"></i></div>
    <br>
    <b>Pagá con tarjeta o en efectivo</b>
    <br>
    <p>Con Vinoteca paga hasta con cripto, </p>
        <p> (No aplica durante recesiones ni con Dodgecoin) </p>
         <p> ¡Y siempre es seguro!</p>
    </div>
    <br>
    <div class="footsize" >
    <div class="imgfoot"><i class="fas fa-gift"></i></div>
    <br>
    <b>Envío gratis</b>
    <br>
    <p>Solo por comprar con nosotros</p>
        <p>¡tienes envíos gratis en cualquier vino!</p>
        <p>No evites el exeso <i class="fas fa-smile-wink"></i>.</p>
   </div>
     <br>
     <div class="footsize" >
     <div class="imgfoot"><i class="fas fa-heart"></i></div>
<br>
     <b>Eres lo más importante</b>
     <br>
     <p>¿Problemas con el producto? ¡Contactanos! Con Vinoteca</p>
         <p>no hay nada de que preocuparte, porque estás </p>
             <p> siempre acompañado</p>
        </div>
<br>
<br>
<br>
             <b class="vino"><b>Copyright © 2022-2022 Vinoteca Equipo7 ProAdvanceForever 7.7.7</b></b>
             <br>
             <br>
</footer>