<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <title>Inicia sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Estilo.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <header>
        <div class="main-header-top-bar">

            <img class="logo" src="/images/Logo_Vinoteca.png"  alt="logo"> 
            
            <div class="navbar">
                <input type="search" id="Buscar" placeholder="Encuentra tu vino favorito">
                  <i class="fas fa-search" ></i>
               
                </div>
            
            <div class="titular">El vino no solucionará tus problemas... pero bueno, ¡el agua tampoco!</div>
            
            </div>
            
            <div class="nav">
                <br>
                <p><a href="/">Inicio</a></p>
                <p><a href="#">Categoria</a></p>
                <p><a href="#">Contacto</a></p>
                <p><a href="#">Nosotros</a></p>
                <br>
                <br>
                <br>
                <p><a href="/register">Registrate</a><i class="fas fa-user-circle"></i> </p>
                <p><a href="/login">Inicia sesión</a><i class="fas fa-sign-in-alt"></i> </p>
                <p><a href="/carrito">Mi carrito</a><i class="fas fa-shopping-bag"></i> </p>
                <br>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars" id="burguer" ></i>
            
            </div>
    </header>
    <main>
    <form action="/" method="get">

        <div class="forma">
        <label for="nombre">Nombre completo:</label>
        <br>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
<br>
        <br>
    <br>
        <label for="usuario">Nombre de usuario:</label>
        <br>
         <input type="text" name="usuario" id="usuario" placeholder="Example: juan19" required>
<br>
         <br>
    <br>
         <label for="nacimiento">Fecha de nacimiento:</label>
         <br>
         <input type="date" name="nacimiento" id="nacimiento" required>
    <br>
         <br>
        <br>
       <label for="domicilio">Lugar de residencia:</label>
       <br> 
       <input type="text" name="domicilio" id="domicilio" placeholder="Example: AV Siempre Viva 19" required>
<br>
        <br>
    <br>
        <label for="foto">Agrega una foto de usuario (Opcional):</label>
        <br> 
        <input type="file" name="foto" accept=".jpg" multiple id="foto">
    <br>
         <br>
<br>
<label for="contraseña">Crea una contraseña</label>
<br>         
<input type="password" name="contraseña" id="contraseña" required>
        <br>
         <br>
    <br>
         <label for="confirmar">Confirma la contraseña</label>
        <br>
         <input type="password" name="confirmar" id="confirmar" required>
    <br>
         <br>
    <br>
    
<button type="submit">Enviar</button>
<button type="reset">Borrar</button>
</div>    
</form>
</main>
<footer>
    <br>
    <br>
    <br>
    <div class="footsize" >
    <div class="imgfoot"><i class="fab fa-bitcoin"></i></div>
    <br>
    <b>Pagá con tarjeta o en efectivo</b>
    <br>
    <p>Con Vinoteca paga hasta con cripto, </p>
        <p> (No aplica durante recesiones ni con Dodgecoin) </p>
         <p> ¡Y siempre es seguro!</p>
    </div>
    <br>
    <div class="footsize" >
    <div class="imgfoot"><i class="fas fa-gift"></i></div>
    <br>
    <b>Envío gratis</b>
    <br>
    <p>Solo por comprar con nosotros</p>
        <p>¡tienes envíos gratis en cualquier vino!</p>
        <p>No evites el exeso <i class="fas fa-smile-wink"></i>.</p>
   </div>
     <br>
     <div class="footsize" >
     <div class="imgfoot"><i class="fas fa-heart"></i></div>
<br>
     <b>Eres lo más importante</b>
     <br>
     <p>¿Problemas con el producto? ¡Contactanos! Con Vinoteca</p>
         <p>no hay nada de que preocuparte, porque estás </p>
             <p> siempre acompañado</p>
        </div>
<br>
<br>
<br>
             <b class="vino"><b>Copyright © 2022-2022 Vinoteca Equipo7 ProAdvanceForever 7.7.7</b></b>
             <br>
             <br>
</footer>
</body>
</html>